.grid-header {
    grid-area: grid-header;
    padding: 0rem;
    height: 6.25rem;
    width: 100%;
    text-align: center;
    filter: drop-shadow(0 0.5rem 0.5rem #000000aa);
    pointer-events: none;
    z-index: 3;
}

.grid-header:after {
    content: " ";
    background: #ff2020;
    width: 15.625rem;
    height: 6.25rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: -2;
}

.grid-header:before {
    content: " ";
    background: #ff2020;
    width: 6.25rem;
    height: 6.25rem;
    position: absolute;
    top: -1.3125rem;
    left: 12.5rem;
    transform: rotate(45deg);
    z-index: -2;
}

.grid-header-nav:before {
    content: " ";
    background: #ff2020;
    width: calc(100% - 15.625rem);
    height: 3.125rem;
    position: absolute;
    top: 0;
    left: 15.625rem;
    z-index: -2;
    overflow: hidden;
}

.grid-header-logo {
    height: 100%;
    width: 15rem;
    float: left;
    transition: all 0.5s ease;
    z-index: 3;
    pointer-events: all;
}

.header-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.grid-header-logo:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease;
    filter: drop-shadow(0 0 0.75rem #ffffff) brightness(1.5);
}

.grid-header-nav {
    height: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.grid-header-search-full {
    width: 2fr;
    margin: 0.625rem;
    height: 2rem;
    padding: 0 0.625rem;
    /* float to center-right */
    float: right;
    position: relative;
    pointer-events: all;
}

.grid-header-search-full input {
    width: 100%;
    height: 100%;
    background-color: #791a1a;
    border: 0.0625rem solid #000;
    border-radius: 0.9375rem;
    color: rgb(255, 255, 255);
    padding-left: 0.9375rem;
    font-weight: bold;
}

.grid-header-search-full img {
    height: 60%;
    position: absolute;
    right: 1.5rem;
    top: 0.4rem;
}

.grid-header-search-full img:hover {
    cursor: pointer;
}

.grid-header-mobile {
    height: 4rem;
    display: none;
    justify-content: center;
    align-items: center;
    float: right;
    pointer-events: all;
}

.grid-header-mobile img {
    list-style: none;
    display: flex;
    height: 1.5rem;
    text-align: center;
    margin: 0px 15px 10px;
    padding: 1px;
}

.grid-header-mobile img:hover {
    cursor: pointer;
}
.grid-header-mobile:before {
    content: " ";
    background: #ff2020;
    width: calc(100% - 15.625rem);
    height: 3.125rem;
    position: absolute;
    top: 0;
    left: 15.625rem;
    z-index: -2;
    overflow: hidden;
}

.grid-header-search-mobile {
    width: 2fr;
    margin: 0.625rem;
    height: 2rem;
    padding: 0 0.625rem;
    color: #ffffff;
    float: right;
    position: relative;
    pointer-events: all;
}

@media (max-width: 650px) {
    .grid-header-mobile {
        display: inline-flex;
    }

    .grid-header-search-full {
        display: none;
    }

    .grid-header-nav {
        display: none;
    }
}

.dimmed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}


.dialog-search-mobile {
    width: 80vw;
    height: 50px;
    background-color: #ff2020;
    border: 0.0625rem solid #000;
    border-radius: 0.9375rem;
    color: rgb(255, 255, 255);
    padding: 0 0.9375rem;
    font-weight: bold;
    position: fixed;
    top: 50vh;
    left: 12.5vw;
    z-index: 11;
}

.dialog-search-mobile-input {
    width: 100%;
    height: 2rem;
    float: center;
    justify-content: center;
    position: relative;
    pointer-events: all;
    margin: 8px 0 8px 0;
}

.dialog-search-mobile-input input {
    width: 100%;
    height: 100%;
    background-color: #791a1a;
    border: 0.0625rem solid #000;
    border-radius: 0.9375rem;
    color: rgb(255, 255, 255);
    padding-left: 0.9375rem;
    font-weight: bold;
}

.dialog-search-mobile-input img {
    height: 60%;
    position: absolute;
    right: 1.5rem;
    top: 0.4rem;
}

.dialog-search-mobile-input img:hover {
    cursor: pointer;
}