.grid-image {
    grid-area: grid-sub-header;
    width: 100%;
    height: 26rem;
    position: relative;
    top: -3.125rem;
    margin-bottom: -3.25rem;
    text-align: center;
    overflow: hidden;
    z-index: 0;
}

.grid-content-inside {
    grid-template-areas:
        "grid-content-title grid-content-title grid-content-title grid-content-title"
        "grid-content-left grid-content-right grid-content-left grid-content-right";
}
.grid-content {
    display: grid;
    padding: 0px 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "grid-aside grid-content-inside grid-content-inside grid-content-inside grid-right";
}

.pokedex-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

.pokedex-pokemon-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: -1;
    transition: all 0.5s ease;
}

.pokedex-pokemon-image:hover {
    transform: scale(1.1);
}

.pokedex-pokemon-floor {
    content: " ";
    background: #d5d5d5;
    width: 20rem;
    height: 5rem;
    position: relative;
    top: -5.5rem;
    left: calc(50% - 10rem);
    z-index: -2;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem 2rem #000000aa;
}

.pokedex-pokemon-button {
    z-index: 10;
    width: 10vw;
    height: 100%;
    top: -31.3rem;
    padding: 0;
    border: 0;
    margin: 0;
    position: relative;
    background-color: #00000000;
    color: #ffffff;
    font-size: x-large;
    pointer-events: all;
    transition: all 0.5s ease;
}

.pokedex-pokemon-prev {
    background-image: linear-gradient(90deg, #000, #00000000, #fff, #00000000);
    background-position: 0% 0%;
    background-size: 300% 100%;
    left: -40vw;
}

.pokedex-pokemon-prev:hover {
    background-position: 100% 0%;
}

.pokedex-pokemon-next {
    background-image: linear-gradient(270deg, #000, #00000000, #fff, #00000000);
    background-position: 100% 0%;
    background-size: 300% 100%;
    right: -40vw;
}

.pokedex-pokemon-next:hover {
    background-position: 0% 0%;
}

.grid-aside {
    grid-area: grid-aside;
    background-color: #5b9ecf;
    margin: 0.625rem;
    padding: 0.625rem;
    border-radius: 1.25rem;
    text-align: center;
    min-width: 250px;
    z-index: 1;
}

.grid-aside ul {
    list-style: none;
    text-align: left;
    padding: 0.625rem;
}

.grid-aside ul li {
    margin: 0.3125rem;
}

.stats-power-bar {
    width: 100%;
    height: 1.875rem;
    background-color: #3f6d8f;
    border-radius: 1.25rem;
    display: inline-flex;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.stats-power-bar-fill {
    width: 20%;
    height: 100%;
    background-color: #ffffff;
    margin: 0 0 0 0;
    padding-right: 0.3125rem;
}

.stats-power-bar-fill:after {
    content: "";
    background-color: #3f6d8f;
    width: 0.5rem;
    height: 6.25rem;
    position: absolute;
    rotate: 15deg;
    top: -3.125rem;
    margin-left: 20%;
}

.grid-content-inside {
    grid-area: grid-content-inside;
    padding: 1.25rem;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "grid-content-title grid-content-title"
        "grid-content-left grid-content-right";
    width: 100%;
}

.grid-content-title {
    font-size: 2rem;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-area: grid-content-title;
}

.content-title-properties {
    display: inline-flex;
    height: 3.5rem;
    margin: 0.625rem;
}

.content-partition {
    width: 100%;
    height: 0.0625rem;
    background-color: #3f6d8f;
    margin: 0.625rem 0 0.625rem 0;
    display: flex;
}

.grid-content-left {
    grid-area: grid-content-left;
    border-radius: 1.25rem;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-left-card {
    background-image: url("../images/fundo_carta.png");
    background-repeat: no-repeat;
    padding: 10px;
    height: 450px;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-img {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weight-height {
    width: 100%;
    background-color: #ddd;
    bottom: 0;
    left: 0;
    display: inline-flex;
    padding: 0.625rem;
}

.weight-height .weight {
    width: 50%;
    text-align: left;
}

.weight-height .height {
    width: 50%;
    text-align: right;
}

.card-image {
    width: 65%;
    min-width: 250px;
    min-height: 250px;
}

.card-button {
    background-color: #5b9ecf;
    color: #000;
    font-weight: bold;
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border: 0;
    margin: 3px;
    bottom: calc(50% - 20px);
    transition: 0.5s;
}

.card-button:hover {
    background-color: #3f6d8f;
    color: #fff;
}

.card-prev {
    left: 10px;
}

.card-next {
    right: 10px;
}

.grid-content-right {
    grid-area: grid-content-right;
    margin: 0.625rem;
    padding: 0.625rem;
    text-align: left;
}

.grid-content-right div {
    width: 100%;
    padding: 0.625rem;
}

.grid-content-right div ul {
    text-align: left;
    padding: 0.625rem;
}

.content-right-properties {
    display: inline-flex;
    height: 3.5rem;
    margin: 0.625rem;
}

.grid-right {
    grid-area: grid-right;
    margin: 0.625rem;
    padding: 0.625rem;
    border-radius: 1.25rem;
    text-align: center;
    background-color: #5b9ecf;
    min-width: 250px;
}

.grid-right ul {
    list-style: none;
    text-align: left;
    padding: 0.625rem;
    width: 100%;
}

.grid-right ul li {
    margin: 0.3125rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.grid-right-properties {
    display: inline-flex;
    height: 3.5rem;
    margin: 0.625rem;
}

@media (max-width: 1200px) {
    .grid-content-inside {
        grid-template-areas:
            "grid-content-title grid-content-title grid-content-title"
            "grid-content-left grid-content-right grid-content-right";
    }
    .grid-content {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "grid-content-inside grid-content-inside grid-right"
            "grid-aside grid-aside grid-right";
    }
}

@media (max-width: 950px) {
    .grid-content-inside {
        grid-template-areas:
            "grid-content-title grid-content-title"
            "grid-content-left grid-content-right";
    }
    .grid-content {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "grid-content-inside grid-content-inside"
            "grid-aside grid-right";
    }
}

@media (max-width: 700px) {
    .grid-content-inside {
        grid-template-areas:
            "grid-content-title grid-content-title"
            "grid-content-left grid-content-left"
            "grid-content-right grid-content-right";
    }
    .grid-content {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "grid-content-inside grid-content-inside"
            "grid-aside grid-aside"
            "grid-right grid-right";
    }
    .grid-content-title {
        flex-direction: column;
    }
}
